body
{
  background: rgb(51, 120, 101);
}

#form
{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 320px;
  margin-top: -160px;
  width: 300px;
  margin-left: -150px;
  background: white;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

#send
{
  background-color: rgb(30, 98, 87);
  color: white;
}
